[Unit]
Description = cube-pi demo
After=syslog.target

[Service]
ExecStart=/usr/bin/python /usr/local/sbin/raspi-demo/cube-pi/cube-demo.py
Restart=no
Type=simple
StandardOutput=null

[Install]
WantedBy=multi-user.target