[Unit]
Description = Inky-Impression demo
After=syslog.target

[Service]
ExecStart=/bin/sh /usr/local/sbin/raspi-demo/Inky-Impression/Inky-demo.sh
Restart=no
Type=forking
StandardOutput=null
ExecStartPre=/bin/sleep 30

[Install]
WantedBy=multi-user.target